<div class="mt-5">
    <h2>Here are some of your tasks</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">#Title</th>
                <th scope="col">#Description</th>
                <th scope="col">#Created</th>
                <th scope="col">#Status</th>
            </tr>
        </thead>
        <tbody>
            <% @todos.each do|x| %>
            <tr>
                <th scope="row"><%= @i %></th>
                <td><%= x[:todo].title %></td>
                <td><%= x[:todo].description %></td>
                <td><%= x[:todo].createdAt %></td>
                <td>
                    <span class="badge <%= x[:badge] %>">
                        <%= x[:todo].status %>
                    </span>
                </td>
            </tr>
            <% @i += %>
            <% end %>
        </tbody>
    </table>

</div>









































<%# this is an embedded ruby file that is fully a html file and handles ruby code
templating <% %> <%#for blocks that dont o/p data
<%# <%= %> <%#for blocks that o/p data %>
<%# After creating all your elements then add a route to your controller as a get to access the file %>

<%# <!DOCTYPE html>
<html>

    <head>
        <title>Hello ToDo App</title>
    </head>
    <body>
        <p>Please Enter Your Tasks For Today</p>
        <%# // looping through every single todo that we have %>

        <%# <ol type='1'>
            <% @todos.each do |todo| %>

            <%# <li> <%= todo.title >> <%= todo.description %>
            <%# >> <%= todo.status </li>  %>

            <%# <% end %>

        <%# </ol> %>

    <%# </body> %>

<%# </html> %>
